h1 {
  text-align: center;
}

.word-list {
  display: flex;
  justify-content: center;
}

.word-list ul {
  list-style: none;
  display: flex;
  justify-content: center;
  padding: 0;
}

.word-list li {
  margin: 0 10px;
}

hr {
  height: 2px;
  background-color: white; /* Fixed typo here */
  border-color: black;
}

p {
  text-align: center;
  font-style: italic;
}

img1 {
  width: 1px;
}

.bi {
  max-width: 100%;
  height: auto;
}

h2 {
  text-align: center;
}

.container {
   display: flex;
  justify-content: center; 
}

.dmd {
  width: 300px;
  height: 300px;
  margin: 0 auto; /* Add this to center horizontally */
  display: flex;
  justify-content: center; /* Add this to center horizontally within the element */
  align-items: center; /* Add this to center vertically within the element */
}

/* Removed duplicate properties for .insta, .fb, .weibo, .douyin */

.insta,
.fb,
.weibo,
.douyin {
  width: 50px;
  height: 50px;
  display: flex;
  flex-wrap: wrap; /* Allows images to wrap to the next row */
  justify-content: center;
}
a {
  color: black;
}
a:hover {
  color: grey;
}
a:active {
  color: grey;
}