h1, .insta{
  text-align: center;
}
hr{
  height: 2px;
  background-color: blck;
  border-color: black;
}
p {
  text-align: center;
  font-style: italic;
}
 img1{
   width: 1px;
 }

.container {
  display: flex;
  justify-content: center; /* Center horizontally */
  align-items: center; /* Center vertically */
}

.insta {
  width: 100px;
  height: 100px;
  margin: 0 auto;
}
.fb {
  width: 120px;
  height: 100px;
}