h1 {
  text-align: center;
}
.word-list {
  display: flex;
  justify-content: center;
}

.word-list ul {
  list-style: none;
  display: flex;
  justify-content: center;
  padding: 0;
}

.word-list li {
  margin: 0 10px;
}

hr {
  height: 2px;
  background-color: blck;
  border-color: black;
}
p {
  text-align: center;
  font-style: italic;
}
img1 {
  width: 1px;
}

.container {
  display: flex;
  justify-content: center; /* Center horizontally */
  align-items: center; /* Center vertically */
}

.insta {
  width: 50px;
  height: 50px;
  align-items: center;
  text-decoration: none;
  border: none;
  outline: none;
}
.fb {
  width: 50px;
  height: 50px;
  text-align: center;
  border: none;
  outline: none;
}
.weibo {
  width: 50px;
  height: 50px;
  text-decoration: none;
  border: none;
  outline: none;
}
.douyin {
  width: 50px;
  height: 50px;
  text-decoration: none;
  border: none;
  outline: none;
}
/* banner */
.banner {
  background-color: #f2f2f2;
  padding: 20px;
  text-align: center;
}

.banner img {
  max-width: 100%;
  height: auto;
  margin-bottom: 20px;
}

.banner h2 {
  font-size: 24px;
  margin-bottom: 10px;
}

.banner p {
  font-size: 16px;
  margin-bottom: 20px;
}

.banner-button {
  display: inline-block;
  padding: 10px 20px;
  background-color: #4caf50;
  color: #fff;
  text-decoration: none;
  border-radius: 4px;
}
/* slide show*/
.slideshow {
  position: relative;
  max-width: 100%;
  overflow: hidden;
}

.slide {
  display: none;
  max-width: 100%;
  height: auto;
}

.slide.active {
  display: block;
}
.form-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh; /* Adjust the height as needed */
}

.email-form {
  text-align: center;
}
